* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background: #f3f0ea;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.main-box {
    width: 100%;
    max-width: 1050px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.left-section,
.right-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-size: 42px;
    color: #2d2a26;
}

.sub-text {
    color: #6d665f;
    margin-top: 6px;
    font-size: 16px;
}

.card {
    background: white;
    padding: 24px;
    border-radius: 18px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

.card h2 {
    font-size: 22px;
    margin-bottom: 18px;
    color: #2d2a26;
}

input {
    width: 100%;
    padding: 13px;
    margin-bottom: 12px;
    border: 1px solid #d6d0c8;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    background: #faf9f6;
}

input:focus {
    border-color: #94785d;
}

button {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 10px;
    background: #2d2a26;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #463f38;
}

.empty-text {
    color: #8a8279;
    font-size: 15px;
}

.person-item {
    background: #faf7f2;
    border: 1px solid #ece5dc;
    padding: 14px;
    border-radius: 12px;
    margin-bottom: 12px;
    color: #2d2a26;
    font-size: 15px;
}

.transaction-item {
    background: #f7f4ef;
    border: 1px solid #e7dfd5;
    padding: 16px;
    border-radius: 14px;
    margin-bottom: 12px;
}

.transaction-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.transaction-title {
    font-size: 16px;
    color: #2d2a26;
    font-weight: bold;
}

.transaction-amount {
    color: #6d533c;
    font-size: 15px;
}

.transaction-info {
    font-size: 14px;
    color: #7c746b;
}

.summary-item {
    background: #f8f5f0;
    border: 1px solid #e5ddd2;
    padding: 14px;
    border-radius: 12px;
    margin-bottom: 12px;
}

.summary-name {
    font-size: 15px;
    color: #2d2a26;
    margin-bottom: 5px;
}

.summary-price {
    color: #6d533c;
    font-size: 14px;
}

@media (max-width: 750px) {

    .main-box {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 34px;
    }

}